.ui-widget {
    font-size: 12px !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.mas{
                     text-align:right !important;
                }
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active, .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
 background: #1f89ce;
color: #fff;
border-color: #168dd9;
    
font-size: 19px;

}
.ui-panelmenu .ui-menuitem {
    margin: 10px 0 !important;
    padding: 0;
    height: 35px;
    font-size: 15px !important;
    
    
}

.ui-panelmenu .ui-panelmenu-header a {
    display: block;
  
    height: 35px;
    margin: -0.5em;
    font-size: 19px;
      
}
.ui-panelmenu .ui-panelmenu-panel {
    padding: 0;
    margin: 0;
}
.ui-panelmenu .ui-menuitem-link {
 
    padding: .9em .9em .9em .9em !important;
}

.ui-panelmenu .ui-icon {
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 1em;
}

.ui-panelmenu .ui-menuitem-text {
    float: none;
      padding: .1em .9em .9em .9em !important;
}

 